page-question {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;

  ion-footer {
    button {
      margin: 0 !important;
    }
  }

  .answers {
    border: 10px groove color($colors, secondary);
    text-align: center;
    width: 53%;
    img {
      height: 80px;
      width: 150px;
    }
  }

  .wrong {
    border: 10px groove color($colors, danger);
  }

  .alternativas {
    text-align: center;
    position: absolute;
    bottom: 1px;
  }

  .pergunta {
    border: 10px groove color($colors, secondary);
    text-align: center;
    // width: 100%;
    // margin-top: -20px;

    img {
      height: 80px;
      width: 150px;
    }
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .question-badge {
    border: 10px groove #e3e3e3;
    background-color: white;
    height: 80px;
    width: 150px;

    img {
      height: 150px;
      width: 150px;
    }
  }
}

ion-toast.success .toast-wrapper {
  background: #32db64;
}

ion-toast.error .toast-wrapper {
  background: red;
}
