page-question {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;

  ion-footer {
    button {
      margin: 0px !important;
    }
  }
  .pergunta {
    text-align: center;
    width: 100%;
    margin-top: -20px;

    img {
      height: 150px;
      width: 150px;
    }
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

ion-toast.success .toast-wrapper {
  background: #32db64;
}

ion-toast.error .toast-wrapper {
  background: red;
}
