page-end-activity {

  .title {
    text-align: center;
    margin-bottom: 10vh;
  }

  .image {
    text-align: center;
    img {
      height: 50vh;
    }
  }

  ion-footer {
    button {
      margin: 0px !important;
    }
  }

}
