page-home {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;

  .pergunta {
    // margin-top: 35px;
    // position: absolute;
    text-align: center;
    font-size: 20px;
    width: 100%;

    img {
      height: 150px;
      width: 150px;
    }
  }

  .papiro {
    text-align: center;
  }
}

ion-toast.success .toast-wrapper {
  background: #32db64;
}

ion-toast.error .toast-wrapper {
  background: red;
}
