page-bonus {
  .pergunta {
    text-align: center;
    margin: 2px;
    border-style: solid;
    border-width: thin;
    border-color: #bfb3b2;

    img {
      height: 150px;
      width: 150px;
    }
  }

  ion-grid {
    margin-left: -10px !important;
  }

  ion-row {
    margin-bottom: 10px;

    ion-col {
      button {
        height: 150px !important;
        width: 150px !important;

        img {
          height: 150px !important;
          width: 150px !important;
        }
      }
    }
  }
}
